
img { max-width: 40%; }

html {
    font-size: 100%;
  }

  header {
    background-color: rgb(236, 227, 179);
    padding: 3rem 0;
    text-align: center;
    font-family: 'montserrat', Arial, Helvetica, sans-serif; 
    font-weight: 600;
    font-style: normal;
  }

  .link {
    text-align: center;
    padding: 0rem;
    font-family: 'montserrat', Arial, Helvetica, sans-serif; 
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
  }
 p body {
    font-family: 'source_sans', sans-serif;
    font-size: 100%;
  }
  
  h1 {
    font-size: 3rem;  /* 64px */
  }

  h2 {
      font-size: 2.5rem;
  }
  
  h3 {
      font-size: 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgb(48, 47, 47);
    font-family: 'montserrat', Arial, Helvetica, sans-serif; 
    font-weight: bold;
  }
 

  .box {
    text-align: center;
    padding: 3rem 0;
    font-family: 'montserrat', Arial, Helvetica, sans-serif; 
    font-weight: 600;
  }
  
  .left {
    text-align: left;
  }
 
  .center {
    text-align: center;
  }

  .right {
    text-align: right;
    
  }

 


  