/* main */
.main {
    font-family: 'montserrat', sans-serif;
    font-size: 100%;
    font-weight: 600;
  }
  
  .header_h2 {
    font-family: 'montserrat', Arial, Helvetica, sans-serif; 
    font-weight: 100%;
    padding: 1rem 1rem 1.3rem;
    text-align: center;
  }

  .left {
    text-align: left;
    padding: 0 0 0 0.5rem;
  }

.box {
  padding: 0 !important;
}

/* .image {
  border-radius: 20px;
  max-width: 100%;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
} */

/* figcaption {
  padding: 0.4rem 0;
} */

.box img {
  border-radius: 20px;
  padding: 0rem 0rem 0rem;
  box-shadow: 10px -10px rgb(253, 237, 144);
}

.container {
  position: relative;
  max-width: 65%;
  margin: 2rem auto;
  padding: 0.2rem;
}

.content {
  width: 100%;
  position: absolute;
  bottom: 3rem;
  margin: 0 auto;
  max-width: 100%;
  background: rgba(255, 255, 229, 0.6);
}

video {
  padding: 0.5rem;
  width: 100%;
  height: auto;
}

.container02 {
  margin-left: 1rem;
  max-width: 50%;
  padding: 0.2rem;
  float: left;
  width: 44%;

}



.box02 {
  padding: 0 !important;
}

.box02 img {
  border-radius: 20px;
  padding: 0rem 0rem 0rem;
  box-shadow: 0px 0px 5px 5px rgb(255, 254, 177); 

}

.box02::after {
  content: "";
  clear: both;
  display: table;
}

/* main finish */




